<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="WorldCameraAngularVelocityDamp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldCameraZoomVelocityDamp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldCameraRotationInputMultiplier" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="WorldCameraZoomInputMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldCameraZoomMax" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="WorldCameraZoomMinRelative" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="WorldCameraAngularVelocityMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldCameraZoomVelocityMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldRadius" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WorldPlaneTypePanelShowSeconds" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="WorldCameraZoomMultiplier" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MissionTimelineMarkerAnimateSeconds" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="PanoramaCameraRotationInputMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PanoramaCameraAngularVelocityMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlaneVideoScrubbingSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>